*{
    margin:0px;
    padding:0;
    font-family:sans-serif;
}
body{
  background-image: url("bus.jpg");
  background-size:1400px;
  overflow:hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.hehe1{
        font-size: larger;
        color: black;
}
.hehe2{
        font-size: small;
        color: black;
        
        
}
.hehe3{
        font-size: 16px;
        color: black;
}
.group1{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row ;
} 


.group2{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px 0px;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}